<%- include("partials/header")-%>
    <h1 class="postLabel">
        <%= postLabel %>
    </h1>
    <p class="postCon">
        <%= postCon %>
    </p>


    <form action="/compose" method="post">
        <a class="btn links1" href="/editcompose/<%=postID%>">Edit</a>
        <a class="btn links1" href="/delete/<%=postID%>">Delete</a>


    </form>


    <%- include("partials/footer")-%>